body {
  background-image: linear-gradient(to right, #2f4f4f, #008b8b, #e0ffff);
  background-size: cover;
}

* {
  box-sizing: border-box;
}

#title-text {
  height: 100px;
  width: 300px;
  margin: 10px;
  padding-top: 20px;
  background-color: #e0ffff;
  color: black;
  text-align: center;
}

#instructions-row {
  height: 250px;
  width: 600px;
  margin: 10px;
  padding-left: 10px;
  text-justify: auto;
  background-color: darkgray;
}

#random-number {
  height: 100px;
  width: 200px;
  margin: 10px;
  padding-top: 20px;
  padding-left: 10px;
  background-color: #e0ffff;
  font-size: xx-large;
  float: left;
}

#wins-losses {
  height: 100px;
  width: 200px;
  margin: 10px;
  padding-top: 20px;
  background-color: #e0ffff;
  float: left;
}

#images {
    clear: both;
}

.crystal-image {
  clear: both;
  height: 100px;
  width: 100px;
  margin: 10px;
}

#totalScore {
  margin: 10px;
  padding-left: 10px;
  padding-top: 20px;
  background-color: #e0ffff;
}
